* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #fcda69;
}

img {
    width: 64px;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 1000vh;
    background-image: url(/nnnoise.svg);
}

h1 {
    font-size: 2.25rem;
    letter-spacing: 0.08rem;
    font-weight: 800;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 0.04em;
    font-weight: 600;
}

p {
    font-size: 1rem;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 5vw;
}

header img {
    width: 50px;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-right img {
    background-color: var(--yellow);
    padding: 0.5rem;
    border-radius: 100%;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    padding: 5vw;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.colorblock {
    height: 10px;
    width: 100px;
    background-color: var(--yellow);
    margin: 2rem;
}

.bot-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.bot-box img {
    width: 25px;
    transition: all .2s ease-in-out;
}

.bot-box img:hover {
    scale: 1.3;
}

.hero-center {}
.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.top-box {}
.top-box h1 {} 
.center-box {}
.center-box h3 {}
.bot-box 
.btn {}
.page {}
.stamp-container {}
.stamp img {}
.page-left {}
.box {}
.box-1 h1 {}
.box {}
.box-2 h6 {}
.box {}
.box-3 a {}
.page-right {}
.box {}
.box-1 h1 {}
.box {}
.box-2 h6 {}
.box {}
.box-3 h1 h6 {}
.happy-clients h1 {}
.happy-clients h6 {}
.box {}
.box-4 {}
.btn {}
.page {}
.cards {}
.card {}
.card-1 {}
.card-container {}
.card {}
.left img {}
.card-right h3 {}
.card-right h6 {}
.card {}
.card-2 {}
.card-container {}
.card {}
.left img {}
.card-right h3 {}
.card-right h6 {}
.card {}
.card-3 {}
.card-container {}
.card {}
.left img {}
.card-right h3 {}
.card-right h6 {}
.skills-overview {}
.title h1 {}
.skills {}
.skill-1 {}
.skill-top {}
.skill-logo img {}
.skill-lvl {}
.skill-bot {}
.skill-name {}
.skill-2 {}
.skill-top {}
.skill-logo img {}
.skill-lvl {}
.skill-bot {}
.skill-3 {}
.skill-top {}
.skill-logo img {}
.skill-lvl {}
.skill-bot {}
.skill-name {}
.skill-4 {}
.skill-top {}
.skill-logo img {}
.skill-lvl {}
.skill-bot {}
.skill-name {}
.skill-5 {}
.skill-top {}
.skill-logo img {}
.skill-lvl {}
.skill-bot {}
.skill-name {}