* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 64px;
}

body {
    height: 1000vh;
    background-image: url(/nnnoise.svg);
}

header {
    height: 4rem;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {}
